# .gitignore

node-basics/node_modules
node-basics/package-lock.json

task-app/node_modules
task-app/package-lock.json

task-app/05-rest-api-extra/config

jest-task-app/config
jest-task-app/node_modules
jest-task-app/package-lock.json

