// // rendering it in .pug file 
h1= pasedValue   
// // using js methods in .pug file 
h1= pasedValue.toUpperCase()

// // string interpolation in .pug file 
// // inject passed value
h3 #{pasedValue}   - INSERTED

